@media screen and (max-width: 786px) {
  .banner{
    height: 90vh !important;
  }
  .services{
    flex-direction: column;
  }
  .serviceBx{
    margin-left: unset!important
  }
  .abt-container{
    flex-direction: column
  }
  .abt-box{
    margin: 15px
  }
  .questionBx {
    padding: 20px;
  }
  
  .questionBx .contentBx {
    padding: 20px;
    max-width: 550px;
    margin-bottom: 40px;
  }
  
  .questionBx .contentBx:last-child {
    margin-bottom: 0px
  }
  
}